<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/649faf0f-2c10-4c97-9b61-700cd2ae5fff/resourceGroups/MTriWebApp/providers/Microsoft.Web/sites/BookShop-MVC</ResourceId>
    <ResourceGroup>MTriWebApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://bookshop-mvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>bookshop-mvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookShop-MVC</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BookShop-MVC</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>